.monthLabel{
    color: rgb(220,237,240);
}

.yearLabel{
    color:rgb(96, 84, 65);
}

.yearLabel, .monthLabel{
    height: initial;
    line-height: 70px;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    transition: all .3s ease-out;
}

.absoluteSpan-month{
    font-size: 2.7em;
    text-transform: uppercase;
    position: absolute;
    letter-spacing: 2px;
    top: 0;
    left: 25px;
}

.absoluteSpan-year{
    font-size: 2em;
    position: absolute;
    top: 0;
    right: 25px;
}

.dayLabel{
    height: 25px;
    text-align: center;
    padding: 0;
    font-size: 1em;
}

td{
    text-align: left;
    background-color: rgb(133, 112, 85);
    color: rgb(190, 179, 165);
    border: .6px solid rgb(190, 179, 165);
    height: 73px;
    padding-left: 2%;
    font-size: 1.6em;
    font-weight: 700;
}

td a{
    color: rgb(190, 179, 165);
}

.theadTd{
    background-color: rgb(43, 40, 34);
    border: none;  
}

.roundLeftTop{
    border-top-left-radius: 25px;
}

.roundLeftBottom{
    border-bottom-left-radius: 25px;
}

.roundRightTop{
    border-top-right-radius: 25px;
}

.roundRightBottom{
    border-bottom-right-radius: 25px;
}

.noRightBorder{
    border-right: none;
}

.noLeftBorder{
    border-left: none;
}

.lastRow td{
    border-bottom: none;
}

.calendarContainer{
    width: 100%;
    height: 100%;
    display: flex;
}

table{
    width: 100%;
    box-shadow: 0px 0px 10px black;
    border-radius: 25px;
}

.calendarWrapper{
    background-color: rgb(206, 211, 173);
    border-radius: 50px;    
    padding: 2% 5%;
    height: 80%;
    width: 80%;
    margin: 5% 0;
    margin-left: 10%;
    margin-right: 0;
    transition: all .3s ease-out;
    display: inline-block;
}



.calendarWrapper::before{
    content: "";
    display: block;
    width: 60px;
    height: 30px;
    border-bottom: solid 30px rgb(134,136,112);
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    margin: 1.5% auto;
}

.calendarWrapper::after{
    content: "";
    display: block;
    width: 60px;
    height: 30px;
    border-bottom: solid 30px rgb(134,136,112);
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    margin: 1.5% auto;
    transform: rotate(180deg);
}

.invisibleAbc{
    opacity: 0;
    visibility: hidden;
}

.tasksWrapper{
    width: 0;
    transition: all .3s ease-out;
}

.tasksWrapperShow{
    display: block;
    max-height: 608px;
    height: 608px;
    width: 35%;
    padding: 2% 2%;
    padding-top: 0;
    margin: 5% 0;
    background-image: url("../img/sidebkg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 5%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;    
    padding-bottom: 3%;
}

.tasksWrapper .selectedDay{
    color: rgb(220,237,240);
    font-size: 3em;
}

.selectedDayHeader, .selectedMonthHeader{
    text-align: center;
    font-weight: 900;        
}

.selectedMonthHeader{
    color:rgb(96, 84, 65);
    font-size: 2.5em;
    text-transform: uppercase;
    border-bottom: 3px solid rgb(94,94,87);
    margin: 0 auto;
    margin-bottom: 5%;
    width: 70%;
}

.ulWrapper{
    color: rgb(190, 179, 165);
}

.ulWrapper ul{
    padding: 0;
    text-align: left;
    list-style: none;
    font-size: 1.3em;
    font-weight: 600;
    max-height: 150px;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 85px;
}

.taskTitleSpan, .timeSpan{
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.ulWrapper ul::-webkit-scrollbar {
    width: .5em;
}
 
.ulWrapper ul::-webkit-scrollbar-track {
    background-color: rgba(103, 94, 79, 0.3);
    border-radius: 20px;
}
 
.ulWrapper ul::-webkit-scrollbar-thumb {
  background-color: rgba(103, 94, 79, 1);
  border-radius: 20px;
  outline: 1px solid rgba(103, 94, 79, 1);
}

.ulWrapper ul li{
    position: relative;
    padding-left: 15px;
    text-align: left;
}

.timeSpan{
    float: right;
    padding-right:15px;
}

.taskTitleSpan{
    display: inline-block;
    width: 80%;
}

.checkBox{
    position: absolute;
    top: 11px;
    left: 0;
    border-radius: 2px;
}

.newTaskWrapper{
    position: relative;
}

.newTaskWrapper input{
    width: 100%;
    display: inline-block;
    border: 7px solid rgb(133, 112, 85);
    border-radius: 20px;
    background-color: rgb(43, 40, 34);
    line-height: 2em;
    color: rgb(190, 179, 165);
    font-size: 1em;
    font-weight: 600;
    padding-left: 10px;
}

.newTaskWrapper input::-webkit-input-placeholder{
    font-size: 1.3em;
    font-weight: 600;
    word-spacing: 1.5px;
}

.newTaskWrapper input:focus{
    outline: none;
}

#hoursSelect, #minutesSelect{
    width: 14%;
    position: absolute;
    top: 6px;
    background: transparent;
    border: none;
    font-size: 1.3em;
    color: rgb(190, 179, 165);
    -webkit-appearance: none;
}

#hoursSelect:focus, #minutesSelect:focus{
    outline: none;
}

#hoursSelect{
    right:19px;
    border-left: 2px solid rgb(190, 179, 165);
    padding-left: 10px;
}

#minutesSelect{
    right: -23px;
}

.taskWrapperContent{
    opacity: 0;
    transition: all .1s ease-out;
}

.highLightedDay{
    background-color: rgb(97,81,62); 
}


/* ADDED CLASSES ON A DAY CLICK */
.calendarWrapperShrink{
    margin-left: 5%;
    width: 55%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.calendarTdShrink{
    font-size: 1.3em;
    height: 62px;
}

.calendarYearSpanShrink{
    font-size: 1.6em;    
}

.calendarMonthSpanShrink{
    font-size: 2.2em;    
}

.calendarDayLabelShrink{
    font-size: .9em;
    height: 20px;
}

/* .calendarWrapper:hover{
    margin-left: 5%;
    width: 55%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
} */

/* .calendarWrapper:hover > .calendarTable td{
    font-size: 1.3em;
    height: 62px;
} */

/* .calendarWrapper:hover > .calendarTable .absoluteSpan-year{
    font-size: 1.6em;
} */

/* .calendarWrapper:hover > .calendarTable .absoluteSpan-month{
    font-size: 2.2em;
} */

/* .calendarWrapper:hover > .calendarTable .dayLabel{
    font-size: .9em;
    height: 20px;
} */
/* ADDED CLASSES ON A DAY CLICK */
